PORT=8001
DEV=true
SPLUNK_HOST=localhost
SPLUNK_PORT=8089
SPLUNK_USERNAME=username
SPLUNK_PASSWORD=password
QWEN_MODEL=qwen2.5:1.5b
QWEN_HOST=http://localhost:11434
XDR_API_KEY=api_key
XDR_SECRET=signing_key